* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.insta-container {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background-image: url(img/fundo-cell.png);
    background-position: -46px 0;
    background-size: 468.32px 634.15px;
    -webkit-flex-basis: 380.32px;
    -ms-flex-preferred-size: 380.32px;
    flex-basis: 380.32px;
    height: 581.15px;
    margin-bottom: 12px;
    margin-right: 32px;
}

#instagram-phone {
    margin: 27px 0 0 113px;
    position: relative;
}

#instagram-phone img {
    opacity: 0;
    height: 538.83;
    width: 250px;
    position: absolute;
    object-fit: cover;
    transition: opacity 1000ms;
}

#instagram-phone img.selected {
    opacity: 1;
}


.instagram-continue {
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;;
    overflow: hidden;
    
}

.profile-photo img {
    align-self: center;
    border: solid 1px #efefef;
    border-radius: 100px;
    margin-bottom: 16px;
    margin-top: 8px;
    width:  84px;
    height: 84px;
    object-fit: cover;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.not-account a {
    border: 0;
    color: #0095f6;
    color: rgba(var(--d69,0,149,246),1);
    display: inline-block;
    padding: 0;
    position: relative;
    text-decoration: none;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.get-app {
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    font-size: 14px;
    line-height: 18px;
    margin: 10px 20px 10px 20px;
    text-align: center;
}

.download {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.download a {
    color: #00376b;
    color: rgba(var(--fe0,0,55,107),1);
    text-decoration: none;
}

.app-download img {
    margin-right: 8px;
    width: 136px;
    height: 40px;
    background-size: cover;
}

/* media queries */

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }


    .insta-container{
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}

  